/* General */

* {
    box-sizing: border-box;
    color: #EFA220;
    margin: 0;
    padding: 0;
    font-family: 'Asap';
    text-decoration: none;
}

@font-face {
    font-family: 'Asap';
    src: url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
}

/* Header */

.header {
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.logo {
    width: 12em;
    height: 6em;
    padding: 1em;
}

.logo-img {
    max-width: 100%;
    max-height: 100%;
}

.options {
    display: flex;
    align-items: center;
    list-style: none;
}

.options > li > a {
    display: block;
    padding: 1em;
}

.options > li:hover {
    background-color: wheat;
}

.options li:hover .deploy {
    display: block;
}

.options, .menu {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}

.deploy {
    position: absolute;
    display: none;
    list-style: none;
    width: 10em;
    background-color: rgba(0, 0, 0, 0.5);
}

.deploy > li > a {
    display: block;
    padding: 1em;
    color: #EFA220;
}

.deploy > li:hover {
    background-color: wheat;
}

.menu > a, .grid-container > a {
    background: #EFA220;
    color: #fff;
    padding: .6em 1.2em;
    margin: 0 1em;
    border-radius: 10%;
}

/* Body */

body {
    background: #69BFDC;
}

.body {
    padding-top: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #fff;
    margin: .25em;
}

h1.beverages{
    font-size: .8em;
}

p {
    font-size: 1.5em;
}

button {
    margin: 5px;
    width: 40px;
    height: 25px;
    cursor: pointer;
    font-size: 1.5rem;
    background: #616161;;
    border: none;
    border-radius: 5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

span {
    color: #00ccff;
}

.display2 {
    margin: auto;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 7px;
    flex-direction: row;
    transition: 0.5s;
}

.container {
    width: 200px;
    height: 400px;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.contar {
    font-size: 2rem;
    color: #00ccff;
    justify-content: space-around;
}

.reset {
    width: 50px;
    height: 25px;
}

.display {
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    background: #EFA220;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 7px;
    flex-direction: row;
    padding-top: 30px;
    text-align: center;
}

#board {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: auto;
}

#calcBtn {
    background: #69BFDC;
    color: #fff;
    padding: 10px 20px;
    margin-top: 40px;
    width: max-content;
    height: max-content;
}

.bcktndx {
    color: #fff;
}

a > p {
    color: #fff;
}

#red {
    color: #B01630;
}

#green {
    color: #69BFDC;
}


/* Footer */
