.home {
  background-color: #F6F6F6;
  .banner {
    background: linear-gradient( 
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    url("./background.jpg") center/cover;
    max-width: 152rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5.6rem 18.4rem;

    .wrapper {
      grid-column: span 4;
      color: #FFF;

      .title {
        font-size: 3.8rem;
        line-height: 120%;
      }

      .hero-description {
        line-height: 2.2rem;
        margin-top: 2.4rem;
      }

      .btn-download {
        margin: 2.4rem 2.4rem 0 0;
        display: inline-flex;
        padding: .6rem 2.2rem;
        border-radius: 2.8rem;
        background-color: #fff;
        color: #23272A;
        text-decoration: none;
        font-size: 1.2rem;

        i {
          align-self: center;
          margin-right: 0.8rem;
        }
      }

      .btn-more {
        padding: .6rem 2.2rem;
        border-radius: 2.8rem;
        background-color: #69BFDC;
        color: #FFF;
        margin-top: 2.4rem;
        transition: background-color .5s;
        text-decoration: none;
        font-size: 1.2rem;
      }

      .btn-more:hover {
        background-color: #36393f;
      }
    }
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.6rem 10.4rem;
    max-width: 152rem;
    gap: 15rem;

    .grid-image {
      margin-top: 2.4rem;
      max-width: 50%;
      display: block;
    }

    .text-group {
      margin-top: 2rem;
      grid-column: span 4;

      .secondary-title {
        font-size: 3rem;
      }

      p {
        margin-top: 2rem;
        line-height: 2.2rem;
        font-size: 1.2rem;
      }
    }
  }

  .wave {
    color: #F6F6F6;
    display: block;

    .wave-path {
      animation: wave-animation 20s linear infinite alternate;
    }

    @keyframes wave-animation {
      0% {
        d: path("M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z");
      }
      50% {
        d: path("M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z");
      }
      100% {
        d: path("M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z");
      }
    }
  }

  .gallery {
    background-color: #F6F6F6;
    padding-bottom: 2rem;
    padding-top: 6rem;
    max-width: 152rem;

    .text-group {
      text-align: center;
      grid-column: span 4;
      margin: 0 22rem;

      .secondary-title {
        font-size: 3rem;
      }

      p {
        margin-top: 2rem;
        font-size: 1.2rem;
      }
    }

    .grid-image {
      display: block;
      width: 75%;
      grid-column: span 4;
      margin: 2.4rem auto;
    }
  }

  .download {
    margin: 0 auto;
    max-width: 152rem;
    background-color: #F6F6F6;
    display: block;
    padding: 5.6rem 2.4rem;
    padding-top: 0;
    text-align: center;

    h2 {
      font-size: 2rem;
      padding-bottom: 3rem;
    }

    .btn-forum {
      background-color: #69BFDC;
      color: #FFF;
      transition: background-color .5s;
      padding: 1rem 2rem;
      border-radius: 2.8rem;
      margin-top: 4rem;
      text-decoration: none;
      font-size: 1.25rem;
    }

    .btn-forum:hover {
      background-color: #36393f;
    }
  }
}