

body{
   background-color: #69BFDC;
   .bg_img{
    background: url(./background.jpg);

    background-repeat: no-repeat;
    background-size: cover;
} 
.logo-img {
    max-width: 100%;
    display: block;
    width: 8.4rem;
  }
}
