 @font-face {
    font-family: 'Asap';
    src: url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap';
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    max-width: 100%;
    display: block;
}

video {
    max-width: 100%;
    display: block;
}

/* Main header */

.hero {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),  url("../../media/00-index/images/background.jpg") center/cover;
}

.main-header {
    height: 8rem;
    padding: 0 2.4rem;
}

.container {
    /* max-width: 126rem; */
    max-width: 152rem;
    margin: 0 auto;
}

.main-nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 12.4rem;
}

/* .nav-list {
    display: none;
} */

.nav-items-right {
    display: flex;
    align-items: center;
}

.btn-login {
    margin-right: 1.6rem;
    line-height: 1.8;
    font-size: 1.4rem;
    padding: .7rem 1.6rem;
    border-radius: 4rem;
    background-color: #EFA220;
    color: #FFF;
}

.bar {
    display: block;
    width: 3rem;
    height: 0.4rem;
    margin: 0.6rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #EFA220;
}

.hamburger-menu {
    display: block;
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(1rem) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-1rem) rotate(-45deg);
}

.nav-list {
    position: fixed;
    left: -100%;
    top: 10rem;
    flex-direction: column;
    background-color: #FFF;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-item {
    margin: 4rem 0;
}

.nav-list.active {
    left: 0;
}

.nav-link {
    color: #EFA220;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 2rem;
    padding: 5.6rem 2.4rem;
}

/* Hero content wrap */

.hero-content-wrap {
    grid-column: span 4;
    color: #FFF;
}

.primary-title {
    font-size: 4.8rem;
    line-height: 120%;
}

.hero-description {
    line-height: 3.2rem;
    margin-top: 2.4rem;
}

.hero-btn-group .btn-download {
    margin: 2.4rem 2.4rem 0 0;
    display: inline-flex;
    padding: 1.6rem 3.2rem;
    border-radius: 2.8rem;
    background-color: #FFF;
    color: #23272A;
}

.hero-btn-group .btn-download i {
    align-self: center;
    margin-right: .8rem;
}

.btn-more {
    padding: 1.6rem 3.2rem;
    border-radius: 2.8rem;
    background-color: #69BFDC;
    color: #FFF;
    margin-top: 2.4rem;
    transition: background-color .5s;
}

.btn-more:hover {
    background-color: #36393f;
}

/* About us */

.grid-image {
    margin-top: 2.4rem;
    grid-column: span 4;
}

.text-group {
    margin-top: 2rem;
    grid-column: span 4;
}

.secondary-title {
    font-size: 4rem;
}

.text-group p {
    margin-top: 2rem;
    line-height: 3.2rem;
}

/* Wave */

.wave {
    color: #F6F6F6;
    display: block;
}

.wave-path {
    animation: wave-animation 20s linear infinite alternate;
}

@keyframes wave-animation {
    0% {
        d: path("M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z");
    }
    50% {
        d: path("M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z");
    }
    100% {
        d: path("M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z");
    }
}

/* Gallery */

.gallery {
    background-color: #F6F6F6;
}

.gallery .row {
    padding-bottom: 8rem;
}

.gallery .text-group {
    grid-column: span 4;
    margin-top: 0;
}

.gallery .text-group p {
    margin-top: 2.4rem;
}

.gallery .grid-image {
    width: 100%;
    grid-column: span 4;
    margin-top: 2.4rem;
}

/* Download */

.download {
    background-color: #F6F6F6;
}

.download .remove-grid {
    display: block;
    padding-top: 0;
    text-align: center;
}

.download h2 {
    font-size: 3.2rem;
}

.btn-forum {
    background-color: #69BFDC;
    color: #FFF;
    transition: background-color .5s;
    padding: 1.6rem 3.2rem;
    border-radius: 2.8rem;
    margin-top: 4rem;
}

.btn-forum:hover {
    background-color: #36393f;
}

/* Main footer */

.main-footer {
    background-color: #EFA220;
    color: #FFF;
    padding: 6.4rem 2.4rem 6.4rem;
}

.main-footer .row {
    padding: 0;
}

.info-box {
    grid-column: span 4;
    margin-bottom: 2.8rem;
}

.footer-title {
    /* color: #7289DA; */
    color: #FFF;
}

.info-box .footer-title {
    font-size: 2.4rem;
}

/* .languages {
    margin: 2.4rem 0;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.languages img {
    width: 2.4rem;
}

.languages span {
    margin: 0 .8rem;
} */

.social-media {
    margin: 2.4rem 0;
}

.sm-link {
    font-size: 2.3rem;
    color: inherit;
    margin-right: 2rem;
}

/* .spacer {
    display: none;
}

.footer-links-group {
    margin-bottom: 4rem;
    font-size: 1.6rem;
    grid-column: span 2;
}

.footer-links-group .footer-title {
    font-size: inherit;
    padding-top: .8rem;
    font-weight: 100;
}

.footer-link {
    display: block;
    margin-top: 1.2rem;
    color: inherit;
} */

.divider {
    grid-column: 1/-1;
    height: 1px;
    background-color: #FFF;
    margin-bottom: 3.2rem;
}

.main-footer .remove-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-contact {
    font-size: 1.4rem;
    padding: .7rem 1.6rem;
    border-radius: 4rem;
    background-color: #93BA1F;
    color: #FFF;
    transition: background-color .5s;
    line-height: 1.8;
}

.btn-contact:hover {
    background-color: #36393f;
}

@media screen and (min-width: 768px) {

    .primary-title {
        font-size: 5.6rem;
    }

    .secondary-title {
        font-size: 4.8rem;
    }

    .row {
        grid-template-columns: repeat(8, 1fr);
        padding: 8rem 4rem;
    }

    .hero {
        min-height: 62.6rem;
    }

    .hero-content-wrap {
        grid-column: span 5;
    }

    .hero-description {
        margin: 4rem 0 .8rem;
    }

    .grid-image {
        margin: auto 0;
    }

    .text-group {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .gallery {
        text-align: center;
    }

    .info-box {
        grid-column: span 3;
        grid-row: span 2;
    }

    .spacer {
        display: block;
        grid-row: span 2;
    }
    
}

@media screen and (min-width: 1024px) {

    .row {
        grid-template-columns: repeat(12, 1fr);
        padding: 12rem 4rem;
    }

    .nav-list {
        display: flex;
        list-style: none;
        background-color: transparent;
        position: static;
        flex-direction: row;
        background-color: none;
        justify-content: center;
        width: max-content;
    }

    .hamburger-menu {
        display: none;
    }


    .nav-link {
        font-size: 1.6rem;
        color: #FFF;
        margin: 0 1rem;
        padding: 1rem;
        font-weight: bold;
    }

    .nav-link:hover {
        text-decoration: underline;
    }

    .hero-content-wrap {
        grid-column: 3 / span 8;
        text-align: center;
    }

    .mobile-toggle {
        display: none;
    }

    .grid-image {
        grid-column: span 7;
        margin: 0;
    }

    .text-group {
        grid-column: 9/-1;
    }

    .gallery .grid-image {
        grid-column: span 12;
    }

    .gallery .text-group {
        grid-column: 2 / span 10;
    }

}
