/*Extra large screens, TV.*/
@media screen and (min-width: 1441px) {
    :root {
        /* --w: calc(70vw / 6);
        --h: calc(70vh / 4); */
        --w: calc(114.33px * 1.5);
        --h: calc(146.8px * 1.5);
    }
    
    * {
        transition: all 0.5s;
        color: #EFA220;
    }
    
    body {
        padding: 0;
        margin: 0;
        /*background-image: url("./images/FONDOS_MEMORAMA/fondo01_full.jpg");*/
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: calibri;
    }
    
    div {
        display: inline-block;
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
    }
    
    #board {
        margin-top: 50px;
        max-width: 1000px;
    }
    
    .card-area, .card, .side {
        cursor: pointer;
        width: var(--w);
        min-width: 100px;
        height: var(--h);
    }
    
    .card {
        position: relative;
        transform-style: preserve-3d;
        animation: initialize 5s;
    }
    
    .side {
        position: absolute;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rear {
        transform: rotateY(180deg);
    }
    
    .newgame-button {
        cursor: pointer;
        background: linear-gradient(orange, darkorange);
        background: #69BFDC;
        padding: 20px;
        border-radius: 50px;
        border: white 3px solid;
        font-size: 130%;
        color: white;
    }
    
    @keyframes initialize {
    
        20%,
        90% {
            transform: rotateY(180deg);
        }
    
        0%,
        100% {
            transform: rotateY(0deg);
        }
    }
    .Header {
        min-height: 60px;
        padding: 0 20px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
    }
    
    .Logo {
        width: 200px;
        height: 100px;
        padding: 20px;
    }
    
    .Options {
        display: flex;
        align-items: center;
    }
    
    .Menu {
        display: flex;
        align-items: center;
    }
    
    .Options a, .Menu a {
        padding: 0 20px;
        text-decoration: none;
        font-weight: 900;
        font-size: large;
        display: flex;
        flex-wrap: wrap;
    }

    .Menu a {
        background: #EFA220;
        color: #fff;
        padding: 10px 20px;
        margin: 0 10px;
        border-radius: 10%;
    }
}

/*Desktops, large screens*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    :root {
        /* --w: calc(70vw / 6);
        --h: calc(70vh / 4); */
        --w: calc(114.33px * 1.6);
        --h: calc(146.8px * 1.6);
    }
    
    * {
        transition: all 0.5s;
        color: #EFA220;
    }
    
    body {
        padding: 0;
        margin: 0;
        /* background-size: cover;
        background-image: url("./images/FONDOS_MEMORAMA/fondo01_full.jpg");
        background-attachment: fixed;
        background-position: center; */
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: calibri;
    }
    
    div {
        display: inline-block;
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
    }
    
    #board {
        margin-top: 50px;
        max-width: 1000px;
    }
    
    .card-area, .card, .side {
        cursor: pointer;
        width: var(--w);
        min-width: 100px;
        height: var(--h);
    }
    
    .card {
        position: relative;
        transform-style: preserve-3d;
        animation: initialize 5s;
    }
    
    .side {
        position: absolute;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rear {
        transform: rotateY(180deg);
    }
    
    .newgame-button {
        cursor: pointer;
        background: linear-gradient(orange, darkorange);
        background: #69BFDC;
        padding: 20px;
        border-radius: 50px;
        border: white 3px solid;
        font-size: 130%;
        color: white;
    }
    
    @keyframes initialize {
    
        20%,
        90% {
            transform: rotateY(180deg);
        }
    
        0%,
        100% {
            transform: rotateY(0deg);
        }
    }
    .Header {
        min-height: 60px;
        padding: 0 20px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
    }
    
    .Logo {
        width: 200px;
        height: 100px;
        padding: 20px;
    }
    
    .Options {
        display: flex;
        align-items: center;
    }
    
    .Menu {
        display: flex;
        align-items: center;
    }
    
    .Options a, .Menu a {
        padding: 0 20px;
        text-decoration: none;
        font-weight: 900;
        font-size: large;
        display: flex;
        flex-wrap: wrap;
    }

    .Menu a {
        background: #EFA220;
        color: #fff;
        padding: 10px 20px;
        margin: 0 10px;
        border-radius: 10%;
    }
}

/*Small screens, laptops*/
@media screen and (min-width:769px) and (max-width: 1024px){
    :root {
        /* --w: calc(70vw / 6);
        --h: calc(70vh / 4); */
        --w: calc(114.33px * 1.2);
        --h: calc(146.8px * 1.2);
    }
    
    * {
        transition: all 0.5s;
        color: #EFA220;
    }
    
    body {
        padding: 0;
        margin: 0;
        /* background-size: cover;
        background-image: url("./images/FONDOS_MEMORAMA/fondo01_full.jpg");
        background-attachment: fixed;
        background-position: center; */
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: calibri;
    }
    
    div {
        display: inline-block;
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
    }
    
    #board {
        margin-top: 50px;
        max-width: 800px;
    }
    
    .card-area, .card, .side {
        cursor: pointer;
        width: var(--w);
        min-width: 100px;
        height: var(--h);
    }
    
    .card {
        position: relative;
        transform-style: preserve-3d;
        animation: initialize 5s;
    }
    
    .side {
        position: absolute;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rear {
        transform: rotateY(180deg);
    }
    
    .newgame-button {
        cursor: pointer;
        background: linear-gradient(orange, darkorange);
        background: #69BFDC;
        padding: 20px;
        border-radius: 50px;
        border: white 3px solid;
        font-size: 130%;
        color: white;
    }
    
    @keyframes initialize {
    
        20%,
        90% {
            transform: rotateY(180deg);
        }
    
        0%,
        100% {
            transform: rotateY(0deg);
        }
    }
    .Header {
        min-height: 60px;
        padding: 0 20px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
    }
    
    .Logo {
        width: 20px;
        height: 10px;
        padding: 20px;
    }
    
    .Options {
        display: flex;
        align-items: center;
    }
    
    .Menu {
        display: flex;
        align-items: center;
    }
    
    .Options a, .Menu a {
        padding: 0 20px;
        text-decoration: none;
        font-weight: 900;
        font-size: large;
        display: flex;
        flex-wrap: wrap;
    }

    .Menu a {
        background: #EFA220;
        color: #fff;
        padding: 10px 20px;
        margin: 0 10px;
        border-radius: 10%;
    }
}

/*iPads, tablets*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    :root {
        /* --w: calc(70vw / 6);
        --h: calc(70vh / 4); */
        --w: calc(114.33px * 1.5);
        --h: calc(146.8px * 1.5);
    }
    
    * {
        transition: all 0.5s;
        color: #EFA220;
    }
    
    body {
        padding: 0;
        margin: 0;
        /* background-size: cover;
        background-image: url("./images/FONDOS_MEMORAMA/fondo01_medio.jpg");
        background-attachment: fixed;
        background-position: center; */
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: calibri;
    }
    
    div {
        display: inline-block;
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
    }
    
    #board {
        margin-top: 50px;
        max-width: 1200px;
    }
    
    .card-area, .card, .side {
        cursor: pointer;
        width: var(--w);
        min-width: 100px;
        height: var(--h);
    }
    
    .card {
        position: relative;
        transform-style: preserve-3d;
        animation: initialize 5s;
    }
    
    .side {
        position: absolute;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rear {
        transform: rotateY(180deg);
    }
    
    .newgame-button {
        cursor: pointer;
        background: linear-gradient(orange, darkorange);
        background: #69BFDC;
        padding: 20px;
        border-radius: 50px;
        border: white 3px solid;
        font-size: 130%;
        color: white;
    }
    
    @keyframes initialize {
    
        20%,
        90% {
            transform: rotateY(180deg);
        }
    
        0%,
        100% {
            transform: rotateY(0deg);
        }
    }
    .Header {
        min-height: 60px;
        padding: 0 20px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
    }
    
    .Logo {
        width: 20px;
        height: 10px;
        padding: 20px;
    }
    
    .Options {
        display: flex;
        align-items: center;
    }
    
    .Menu {
        display: flex;
        align-items: center;
    }
    
    .Options a, .Menu a {
        padding: 0 20px;
        text-decoration: none;
        font-weight: 900;
        font-size: large;
        display: flex;
        flex-wrap: wrap;
    }

    .Menu a {
        background: #EFA220;
        color: #fff;
        padding: 10px 20px;
        margin: 0 10px;
        border-radius: 10%;
    }
}

/*Mobile devices*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    :root {
        /* --w: calc(70vw / 6);
        --h: calc(70vh / 4); */
        --w: calc(114.33px * 1);
        --h: calc(146.8px * 1);
    }
    
    * {
        transition: all 0.5s;
        color: #EFA220;
    }
    
    body {
        padding: 0;
        margin: 0;
        /* background-size: cover;
        background-image: url("./images/FONDOS_MEMORAMA/fondo01_small.jpg");
        background-attachment: fixed;
        background-position: center; */
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: calibri;
        transform:  (-90deg);

    }
    
    div {
        display: inline-block;
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
    }
    
    #board {
        margin-top: 50px;
        max-width: 1200px;
        max-height: 1200px;
    }
    
    .card-area, .card, .side {
        cursor: pointer;
        width: var(--w);
        min-width: 100px;
        height: var(--h);
    }
    
    .card {
        position: relative;
        transform-style: preserve-3d;
        animation: initialize 5s;
    }
    
    .side {
        position: absolute;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rear {
        transform: rotateY(180deg);
    }
    
    .newgame-button {
        cursor: pointer;
        background: linear-gradient(orange, darkorange);
        background: #69BFDC;
        padding: 20px;
        border-radius: 50px;
        border: white 3px solid;
        font-size: 130%;
        color: white;
    }
    
    @keyframes initialize {
    
        20%,
        90% {
            transform: rotateY(180deg);
        }
    
        0%,
        100% {
            transform: rotateY(0deg);
        }
    }
    .Header {
        min-height: 60px;
        padding: 0 20px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
    }
    
    .Logo {
        width: 20px;
        height: 10px;
        padding: 20px;
    }
    
    .Options {
        display: flex;
        align-items: center;
    }
    
    .Menu {
        display: flex;
        align-items: center;
    }
    
    .Options a, .Menu a {
        padding: 0 20px;
        text-decoration: none;
        font-weight: 900;
        font-size: large;
        display: flex;
        flex-wrap: wrap;
    }

    .Menu a {
        background: #EFA220;
        color: #fff;
        padding: 10px 20px;
        margin: 0 10px;
        border-radius: 10%;
    }
}
