@font-face {
    font-family: 'Asap';
    src: url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap';
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    max-width: 100%;
    display: block;
}

video {
    max-width: 100%;
    display: block;
}

/* Main header */

.hero {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),  url("../../media/01-perfiles/background.jpg") center/cover;
    position: sticky;
    top: 0;
}

.main-header {
    height: 8rem;
    padding: 0 2.4rem;
}

.container {
    max-width: 152rem;
    margin: 0 auto;
}

.main-nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 12.4rem;
}

.nav-items-right {
    display: flex;
    align-items: center;
}

.btn-login {
    margin-right: 1.6rem;
    line-height: 1.8;
    font-size: 1.4rem;
    padding: .7rem 1.6rem;
    border-radius: 1rem;
    background-color: #EFA220;
    color: #FFF;
}

.bar {
    display: block;
    width: 3rem;
    height: 0.4rem;
    margin: 0.6rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #EFA220;
}

.hamburger-menu {
    display: block;
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(1rem) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-1rem) rotate(-45deg);
}

.nav-list {
    position: fixed;
    left: -100%;
    top: 10rem;
    flex-direction: column;
    background-color: #FFF;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-item {
    margin: 4rem 0;
}

.nav-list.active {
    left: 0;
}

.nav-link {
    color: #EFA220;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 2rem;
    padding: 2.4rem;
}

/* Hero content wrap */

.hero-content-wrap {
    grid-column: span 4;
    color: #FFF;
}

.primary-title {
    font-size: 9.6rem;
    line-height: 120%;
}

/* About us */

.sect-name {
    margin-top: 2.4rem;
    text-align: center;
    color: #69BFDC;
}

.grid-image {
    margin-top: 2.4rem;
    grid-column: 1 / 5;
    min-height: 50rem;
    object-fit: cover;
    border-radius: 1rem;
}

.btn-profile {
    margin-top: 2.4rem;
    grid-column: 1 / 5;
    background-color: #69BFDC;
    color: #FFF;
    transition: background-color .5s;
    padding: 1.6rem 3.2rem;
    border-radius: 1rem;
    text-align: center;
    /* margin-top: 4rem; */
}

.text-group {
    margin-top: 2rem;
    grid-column: span 4;
}

.secondary-title {
    font-size: 4rem;
}

.text-group p {
    margin-top: 2rem;
    line-height: 3.2rem;
}

/* Main footer */

.main-footer {
    background-color: #EFA220;
    color: #FFF;
    padding: 6.4rem 2.4rem 6.4rem;
}

.main-footer .row {
    padding: 0;
}

.info-box {
    grid-column: span 4;
    margin-bottom: 2.8rem;
}

.footer-title {
    /* color: #7289DA; */
    color: #FFF;
}

.info-box .footer-title {
    font-size: 2.4rem;
}

.social-media {
    margin: 2.4rem 0;
}

.sm-link {
    font-size: 2.3rem;
    color: inherit;
    margin-right: 2rem;
}

.divider {
    grid-column: 1/-1;
    height: 1px;
    background-color: #FFF;
    margin-bottom: 3.2rem;
}

.main-footer .remove-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-contact {
    font-size: 1.4rem;
    padding: .7rem 1.6rem;
    border-radius: 1rem;
    background-color: #93BA1F;
    color: #FFF;
    transition: background-color .5s;
    line-height: 1.8;
}

.btn-contact:hover {
    background-color: #36393f;
}

@media screen and (min-width: 768px) {

    .primary-title {
        font-size: 11.2rem;
    }

    .secondary-title {
        font-size: 4.8rem;
    }

    .row {
        grid-template-columns: repeat(8, 1fr);
        padding: 4rem;
    }

    .hero-content-wrap {
        grid-column: span 5;
    }

    .hero-description {
        margin: 4rem 0 .8rem;
    }

    .grid-image {
        /* margin: auto 0; */
        grid-column: 1 / 9;
    }

    .btn-profile {
        grid-column: 1 / 9;
    }

    .text-group {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .gallery {
        text-align: center;
    }

    .info-box {
        grid-column: span 3;
        grid-row: span 2;
    }

    .spacer {
        display: block;
        grid-row: span 2;
    }
    
}

@media screen and (min-width: 1024px) {

    .row {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2);
        padding: 4rem;
    }

    .nav-list {
        display: flex;
        list-style: none;
        background-color: transparent;
        position: static;
        flex-direction: row;
        background-color: none;
        justify-content: center;
        width: max-content;
    }

    .hamburger-menu {
        display: none;
    }

    .nav-link {
        font-size: 1.6rem;
        color: #FFF;
        margin: 0 1rem;
        padding: 1rem;
        font-weight: bold;
    }

    .nav-link:hover {
        text-decoration: underline;
    }

    .hero-content-wrap {
        grid-column: 3/ span 8;
        text-align: center;
    }

    .mobile-toggle {
        display: none;
    }

    /* .grid-image {
        grid-column: span 7;
        margin: 0;
    } */

    .grid-item:nth-child(1) {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }

    .grid-item:nth-child(2) {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
    }

    .grid-item:nth-child(3) {
        grid-column: 5 / 9;
        grid-row: 1 / 2;
    }

    .grid-item:nth-child(4) {
        grid-column: 5 / 9;
        grid-row: 2 / 3;
    }

    .grid-item:nth-child(5) {
        grid-column: 9 / 13;
        grid-row: 1 / 2;
    }

    .grid-item:nth-child(6) {
        grid-column: 9 / 13;
        grid-row: 2 / 3;
    }

}
